:root {
  --blue: rgb(29, 53, 96);
  --white: #ffffff;
  --black: #000000;
}

body {
  background-color: #c9c9c9;
}

.colorBlue {
  color: var(--blue);
}

.backgroundProyecto {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/assets/Perfiles Images/bookPerfiles.jpeg");
  height: 50vh;
  background-position: 100% 20%;
  background-size: cover;
  opacity: 3;
}

.ulList {
  border-left: 2px solid var(--blue);
  border-bottom: 2px solid var(--blue);
  border-right: 2px solid var(--blue);
  list-style-type: none;
}

.buttonBorder {
  border: 2px solid var(--blue);
}

.ulList li {
  padding: 5px;
}

.imageTriangle {
  height: 20px;
}

.image-container {
  margin: 0 20px;
}

.logo-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.logos-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}


.controls {
  display: flex;
  justify-content: center;
}

.controls button {
  margin: 0 5px;
  padding: 0px 5px;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 50%;
}

.controls button:hover {
    background-color: rgb(38, 61, 136);
  }


@media (max-width: 600px) {
  .divTextPerfil {
    width: 100% !important;
  }

  .divButtonPerfil {
    width: 100% !important;
  }

  .sectionClients {
    height: 30vh;
  }

  .sectionPartners {
    height: 30vh;
  }

  .backgroundProyecto {
    background-position: center;
    background-size: cover;
  }
}
